.table{
    min-width:fit-content;
    max-width:100%;
    float:center;
}

.wrapper {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  
  /* A media query for a large screen */
  @media (min-width: 1170px) {
    .wrapper {
      max-width: 1170px;
    }
  }