<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<div class="mat-display-1"> this is heading </div>
<div class="mat-headline"> this is heading </div>
<div class="mat-title"> this is heading </div>
<div class="mat-subheading-2"> this is heading </div>
<div class="mat-display-1"> this is heading </div>
<div class="mat-display-1"> this is heading </div>
<div class="mat-display-1"> this is heading </div>
<div>
<button color="primary"  mat-button>Submit</button>
<button color="accent"  mat-button>Submit</button>
</div> -->

<div>
    <button mat-button>Submit</button>
    <button color="accent"  mat-button>Submit</button>
    </div>

